<div class="ps-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<div class="ps-page--single" id="about-us"><img src="img/bg/about-us.jpg" alt="">
    <div class="ps-about-intro">
        <div class="container">
            <div class="ps-section__header">
                <h4>Chào mừng đến với Ben Sport</h4>
                <h3>Chúng tôi ở đây để chia sẻ cho mọi người những sản phẩm tốt và độc đáo về thể thao</h3>
                <p>Trong đây mọi người có thể thỏa mái mua sắm với sở thích của mình. Lựa chọn món đồ uy tín của hãng. Chúng tôi luôn luôn đảm bảo chất lượng đẩy lên hàng đầu. Hân hạng được gửi tới các bạn sản phẩm tốt nhất của chúng tôi. Cảm ơn đã tin tưởng vào chúng tôi.</p>
            </div>
            <div class="ps-section__content">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-cube"></i>
                            <h4>1000</h4>
                            <p>Sản phẩm để bán</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-store"></i>
                            <h4>100</h4>
                            <p>Người mua hoạt động trên Ben Sport</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-bag2"></i>
                            <h4>500</h4>
                            <p>Đơn hàng được bán mỗi ngày</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-6 ">
                        <div class="ps-block--icon-box"><i class="icon-cash-dollar"></i>
                            <h4>50</h4>
                            <p>Sản phẩm mới được cập nhật</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
